
<div class="page-header">
  <h1>Kontaktujte nás</h1>
</div>
<p>V prípade akýchkoľvek otázok, nápadov, pripomienok nás môžete kontaktovať na <a href="mailto:gappers-tp-fiit@googlegroups.com"> gappers-tp-fiit[at]googlegroups.com</a> alebo prostredníctvom formulára nižšie.</p>

<form  name='contactForm'acion='#' ng-controller="ContactController"ng-submit="addMsg()" role="form">
  <div class="form-group">
    <label for="email">Email</label>
    <input required type="email" ng-model='form.email' class="form-control" id="email" placeholder="Emailová adresa">
  </div>
  <div class="form-group">
    <label for="name">Meno</label>
    <input required type="text" ng-model='form.name' class="form-control" id="name" placeholder="Vaše meno">
  </div>
  <div class="form-group">
    <label for="message">Otázka</label>
    <textarea  required class="form-control" ng-model='form.message' rows="7" id="message" placeholder="Čo by sme mohli vylepšiť? Čo vás zaujalo?"></textarea>
  </div>

  <button type="submit" class="btn btn-primary">Odoslať</button> <br><br>
  <div ng-show="formSent">
    <div class="alert alert-success alert-dismissible" role="alert">
      <button ng-click="clearForm()"type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      Ďakujeme za reakciu <strong> {{senderName}}</strong>, ozveme sa ASAP.
    </div>
  </div>
</form>


<h2>Adresa</h2>
<address>
  Slovenská technická univerzita v Bratislave</br>
  Fakulta informatiky a informačných technológií</br>   
  Ilkovičova 2</br>
  842 16 Bratislava 4
</address>
<div class="google-maps">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10646.949947576015!2d17.071875999999996!3d48.153866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8bec79f0f3a9%3A0x8b585229fc0ae860!2sFaculty+of+Informatics+and+Information+Technologies+of+Slovak+University+of+Technology!5e0!3m2!1sen!2ssk!4v1410786029145" width="800" height="400" frameborder="0" style="border:0"></iframe>
</div>