<div class="page-header"><h1>Archív dokumentov</h1></div>
<h2 id='documentation'><i class="fa fa-files-o"></i> Dokumentácia</h2>
<ul>
  <a href="http://github.com/"><li>Dokumentácia ZS 2014/15</li></a> 
  <a href="http://github.com/"><li>Dokumentácia LS 2014/15</li></a>
  <a href="http://github.com/"><li>Finálna verzia dokumentácie</li></a>
</ul>

<h2 id='meetings'> <i class="fa fa-file-text-o"></i> Zápisnice</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr><th>#</th><th>Dátum</th><th>Pridal</th><th>Názov</th></tr>
    </thead>
    <tbody>
      <tr >
        <td>1</td>
        <td>12.10.2014</td>
        <td>Barbora</td>
        <td><a href="http://github.com/">Stretnutie Októbrové</a></td>
      </tr>

      <tr>
        <td>2</td>
        <td>13.11.2014</td>
        <td>Martin</td>
        <td><a href="http://github.com/">Stretnuti Novembrové</td>
      </tr>

      <tr >
        <td>3</td>
        <td>23.12.2014</td>
        <td>Michal</td>
        <td><a href="http://github.com/">Stretnutie Vianočné</a></td>
      </tr>
    </tbody>
  </table>
</div>

<h2 id='sprints'> <i class="fa fa-line-chart"></i> Šprinty</h2>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr><th>#</th><th>Dátum</th><th>Pridal</th><th>Názov</th></tr>
    </thead>
    <tbody>
      <tr >
        <td>1</td>
        <td>12.10.2014</td>
        <td>Barbora</td>
        <td><a href="http://github.com/">Šprint Barcelona</a></td>
      </tr>

      <tr>
        <td>2</td>
        <td>13.11.2014</td>
        <td>Martin</td>
        <td><a href="http://github.com/">Šprint Madrid</td>
      </tr>

      <tr >
        <td>3</td>
        <td>23.12.2014</td>
        <td>Michal</td>
        <td><a href="http://github.com/">Šprint Sevilla</a></td>
      </tr>
    </tbody>
  </table>
</div>


<h2 id='other'> <i class="fa fa-file-code-o"></i> Ostatné</h2>
<ul>
  <a href="http://github.com/"><li>TP CUP prezentácia</li></a> 
  <a href="http://github.com/"><li>IIIT SRC</li></a>
</ul>
