<div class="jumbotron text-center">
	<h1>
		Tím č.10 - <strong>Gappers</strong><br>
	</h1>
	<h3>Tímový projekt - FIIT STU 2014/15</h3>
	<h2> Platforma pre monitorovanie chýb a iných udalostí v aplikácii - AppMonitor</h2>

	<p>
		<a href='/project' class="btn btn-primary dont-wrap btn-lg" role="button">Chcem vedieť viac o aplikácii AppMonitor</a>
	</p>
</div>

<h2 ><center>Náš progres</center></h2>
<div class="progress">
	<div class="progress-bar progress-bar-striped active"  role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
		<span class="sr-only">5% Complete</span>
	</div>
</div>
