<div class="page-header">
  <h1>Členovia tímu</h1>
</div>
<lead>Náš tím pozostáva zo šiestich úspešných členov predchádzajúceho bakalárskeho štúdia na STU, posledný siedmy člen študoval na UNIZA. Tím funguje pod
  vedením a dohľadom Ing. Jakuba Ševcecha.
</lead>
</br></br>

<div class='team'>
  <div class="row">
    <div class="col-md-6">
      <a href="images/barbora.jpg" data-title="Barbora" data-lightbox="Barbora">
        <img class='img-circle hover' id='barbora' src="/images/barbora-small.jpg" style="width: 140px; height: 140px;">
      </a>

      <h2>Barbora Brocková</br>
        <small> Manažment dokumentovania</small>
      </h2>
      <div class ="skills">
      <span class="label label-primary">Java</span>
      <span class="label label-primary">UML</span>
         <span class="label label-primary">Python</span></div>
       
      <p>Absolvovala bakalárske štúdium na FIIT STU v Bratislave. Venuje sa softvérovej 
analýze, má profesijné skúsenosti ako softvérová analytička (Jumpsoft) a tiež ako projektová 
manažérka (Tatrabanka). Absolvovala Summer Startup School v roku 2013, podieľala sa na projekte 
testingo.sk. Má skúsenosti s programovaním v jazyku Java a Python, technológiami JavaScript a 
Bootstrap. V projektoch preferuje pozíciu analytičky a dokumentaristky. </p>
    </div>

    <div class="col-md-6">

      <a href="images/barbora.jpg" data-title="Barbora" data-lightbox="Barbora"><img class='img-circle hover' src="/images/barbora-small.jpg" style="width: 140px; height: 140px;"></a>

      <h2>Matej Čaja</br>
        <small>Manažment monitorovania</small>

      </h2> <div class ="skills">
      <span class="label label-primary">Java</span>
      <span class="label label-primary">Ruby on Rails</span>
       </div>
      <p>Absolvoval bakalárske štúdium na FIIT STU v Bratislave. V rámci bakalárskeho projektu 
sa venoval téme Personalizované vyhľadávanie v digitálnej knižnici. Venuje sa tvorbe webových 
aplikácií prostredníctvom frameworku Ruby on Rails, profesijné skúsenosti má aj s jazykom Java. V 
projektoch sa podielal na všetkých fázach vývoja softvéru. Vo voľnom čase si rád prehlbuje 
profesijné vedomosti. </p>
    </div>


   
  </div>


  <div class="row">


       <div class="col-md-6">

      <a href="images/barbora.jpg" data-title="Barbora" data-lightbox="Barbora"><img class='img-circle hover' src="/images/barbora-small.jpg" style="width: 140px; height: 140px;"></a>

      <h2>Martin Číž</br>
        <small> Manažment plánovania</small>
      </h2> <div class ="skills">
          <span class="label label-primary">Java</span>
      <span class="label label-primary">Ruby on Rails</span>
        <span class="label label-primary">Python</span>
        </div>
      <p>Absolvoval bakalárske štúdium na FIIT STU. Počas štúdia vyskúšal rôzne technológie, no 
orientoval sa najmä na jazyk Java. V roku 2013 absolvoval letnú programátorskú školu Summer 
Startup School kde sa naučil vytvárať webové aplikácie v jazyku Python, pracovať v tíme a rozšíril si 
znalosti o metódach vývoja softvéru. Venuje sa vytváraniu webových aplikácií v Ruby on Rails. 
Preferuje riešiť backend aplikácie.</p>
    </div>

    <div class="col-md-6">
      <a href="images/peter.png" data-title="Peter" data-lightbox="Peter"><img class='img-circle hover' src="/images/peter-small.png" style="width: 140px; height: 140px;"></a>

      <h2>Peter Kyseľ</br>
        <small> Manažment rizík</small>
      </h2> <div class ="skills">
         <span class="label label-primary">Java</span>
      <span class="label label-primary">C/C++</span>
        <span class="label label-primary">PHP</span>
       </div>
      <p>Absolvoval bakalárske štúdium na Fakulte riadenia a informatiky Žilinskej univerzity. V 
rámci bakalárskeho projektu vyvíjal desktopovú aplikáciu pre stavebnú spoločnosť. Pracuje pre IT 
Crowd. Preferuje programovanie v Jave, tvorbu HTML stránok a databázu Oracle. Má tiež skúsenosti 
s C++, PHP a jazykom Scala. Vo voľnom čase čítam svetovú literatúru (do roku 1989), snowboardujem, píšem články, básne a venujem sa turistike.</p>
    </div>
</div>

  <div class="row">
   <div class="col-md-6">

      <a href="images/adam.jpg" data-title="Adam" data-lightbox="Adam"><img id='adam' class='img-circle hover' src="/images/adam-small.jpg" style="width: 140px; height: 140px;"></a>

      <h2>Adam Lieskovský</br>
        <small> Manažment podpory vývoja a integrácie</small>
      </h2> <div class ="skills">
       <span class="label label-primary">Ruby on Rails</span>
      <span class="label label-primary">Python</span>
      <span class="label label-primary">SQL</span>
    </div>
      <p>Absolvoval bakalárske štúdium na FIIT STU. V rámci bakalárskeho projektu sa 
venoval podpore tvorby dopytu v systéme Annota. Táto práca povzbudila jeho už i tak existujúci 
zaújem o webové aplikácie, najme ich backendovú časť. Pracuje s Ruby on Rails, ale má skúsenosti aj 
s Pythonom – stojí za projektom testingo.sk. Pozná Javu, Bootstrap, Coffeescript, 
jQuery, git, AngularJS. Má profesné skúsenosti s relačnými 
databázami (Oracle, MySql, Postgres), ale rovnako aj NoSQL technológiami - Elasticsearch, Redis.</p>
    </div>


    <div class="col-md-6">

      <a href="images/barbora.jpg" data-title="Barbora" data-lightbox="Barbora"><img class='img-circle hover' src="/images/barbora-small.jpg" style="width: 140px; height: 140px;"></a>

      <h2>Daniel Uderman</br>
        <small>Manažment komunikácie</small>
      </h2> <div class ="skills">
       <span class="label label-primary">C/C++</span>
      <span class="label label-primary">PHP</span>
      <span class="label label-primary">Java</span>
      </div>
      <p>Absolvoval bakalárske štúdium na FIIT STU. V rámci bakalárskeho projektu sa 
venoval vysokovýkonnému distribuovanému počítaniu s využitím algoritmov inšpirovaných hmyzom. 
Profesionálne sa venuje tvorbe ecommerce stránok v PHP. V priebehu štúdia získal aj skúsenosti s 
programovaním v C/C++, Jave a v jazyku JavaScript. Má skúsenosti tiež s databázovým systémom 
MySQL.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">


      <a href="images/barbora.jpg" data-title="Barbora" data-lightbox="Barbora"><img class='img-circle hover' src="/images/barbora-small.jpg" style="width: 140px; height: 140px;"></a>

      <h2>Michal Viskup</br>
        <small>Manažment kvality a vedúci tímu</small>
      </h2> <div class ="skills">
      <span class="label label-primary">Java/J2EE</span>
       <span class="label label-primary">C/C++</span>
      <span class="label label-primary">CUDA</span>
</div>      <p> Absolvoval bakalárske štúdium na FIIT STU. V rámci bakalárskeho projektu sa 
zaoberal využitím grafickej procesorovej jednotky pre podporu výpočtu pri segmentácií obrazu. 
Zaujíma sa o spracovanie obrazu, počítačové videnie a strojové učenie. Pracuje pre spoločnosť 
vyvíjajúcu informačné systémy pre oblasť e-government, poštových a bankových služieb. 
Profesionálne programuje v Jave, má skúsenosti s technológiami spĺňajúcimi Java Enterprise Edition 
špecifikáciu. V rámci projektov tiež programoval v C/C++. Voľný čas venuje priateľke a návštevám 
posilňovne.</p>
    </div>

    <div class="col-md-6">


      <a href="images/barbora.jpg" data-title="Barbora" data-lightbox="Barbora"><img class='img-circle hover' src="/images/barbora-small.jpg" style="width: 140px; height: 140px;"></a>

      <h2>Jakub Ševcech</br>
        <small>Mentor tímu</small>
      </h2>
     
</br></br>
      <p> Lorem ipsuum</p>
    </div>


  </div>
</div>

